@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Teachers", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.logo{
    width: 80px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 0 4rem;
    font-size: 1.1rem;
    font-weight: 400;
}
li a{
    text-decoration: none;
    color: black;
    padding: 6px;
}
li a:hover{
    color: rgb(206, 103, 48);
}
.login{
    padding: 0.6rem 0.8rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: inherit;
}
.filter{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2.4rem;
    gap: 1.5rem;
}
input[type="text"]{
    padding: 0.2rem 1rem;
    border-radius: 6px;
    border: 0.5px solid;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 500;
}
.search{
    display: flex;
    gap: 1rem;
}
.search-btn{
    cursor: pointer;
    padding: 0.6rem 0.9rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
}
.restro-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.res-card{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 310px;
    padding: 1rem;
    background-color: rgba(255, 200, 164, 0.229);
    font-size: 1rem;
    box-shadow: 3px 3px rgba(237, 133, 43, 0.816);
    font-weight: 500;
}
.res-card p{
    padding-left: 0.6rem;
}
.res-logo{
    width: 100%;
    height: 300px;
    padding-bottom: 0.5rem;
}
.filter-btn{
    cursor: pointer;
    padding: 0.8rem 0.9rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
}
.footer{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}